# Server Configuration
PORT=3000

# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=auth-flow
DB_PASSWORD=
DB_PORT=5432

# JWT Secret Key (use a strong random string in production)
SECRET_KEY=your_secret_key_here

# Email config
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email
EMAIL_PASSWORD=your-password
EMAIL_SECURE=false